body{
    
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: blue;
    padding: 20px;
    margin-top: 0;
}


.flash{
    padding: 10px;
}
.flash.success{
    border: 1px solid #21DB56;
    background: #AEFFC5;
}
.flash.error{
    border: 1px solid #FF4343;
    background: #FF9C9C;
}

.menu a{
    font-weight: bold;
    color: white;
}

.block{
   
    margin: 0 auto;
    margin-top: -1px;
    margin-bottom: 40px;
    display: block;
    padding: 10px;
    float: left;
    line-height: 18px;
    font-size: 18px;
    margin-right: auto;
    text-align: center;
    width: 300px;
    height: 300px
}
div.title a{
    text-decoration: none;
    display: block;
}
div.title:hover{
    background: wheat;
}
.title{
    margin: 0;
    font-weight: bold;
    border: 1px solid;
    text-align: center;
    background: dodgerblue;
    list-style: none;
    padding: 10px 20px;
    
}

.price{
    text-align: center;
    padding: 10px 20px;
    background:  white;
    
}

.text{
    text-align: center;
    background:  white;
    
}
.buy{
    appearance: none;
    border: 0;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}

.info{
    appearance: none;
    border: 0;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
